2015/dlls/
2015/admin/obj/
2015/application/obj/
2015/baseClass/obj/
2015/build/obj/
2015/charts/obj/
2015/client/obj/
2015/common/obj/
2015/commonClass/obj/
2015/commonClass/bin/
2015/commonTypes/obj/
2015/commonTypes/bin/
2015/dataAccess/obj/
2015/databaseEntity/obj/
2015/databaseEntity/bin/
2015/databases/obj/
2015/import/obj/
2015/Indicators/obj/
2015/Languages/obj/
2015/databases/obj/
2015/QWebApi/obj/
2015/QuantumTest/obj/
2015/server/obj/
2015/setup/obj/
2015/strategy/obj/
2015/Tools/obj/
2015/Trade/obj/
2015/wsServices/obj/
2015/Backup/
2015/Backup1/
2015/Backup2/
2015/Backup3/
2015/packages/
2015/Quantum Website/
2015/QuantumTest/
**/q-download/
*.dll
*.exe
*.suo
*.ide
*.cache
*.txt
*.nupkg
*.config
/2015/dataAccess/Service References/
/2015/dataAccess/obj/
/2015/dataAccess/obj/Debug/
/2015/dlls/*.*
*.ide-wal
*.lock
*.ide-shm
*.ide
