*.dll
*.pdb
/2015/baseClass/obj/*
*.txt
*.dll
*.nupkg
*.nupkg
*.exe
*.dll
*.exe
*.dll
*.cache
*.resources
/2015/baseClass/obj/Debug/*
*.dll
*.ps1
*.ps1
*.transform
*.exe
*.xml
*.config
*.exe
*.config
*.config
*.Cache
2015/database scripts/database_scripts/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
2015/database scripts/database_scripts/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
2015/database scripts/database_scripts/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
*.lock
*.ide
*.ide-shm
*.ide-wal
