
@{
    ViewBag.Title = "Download";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.AntiForgeryToken()
<section id="title" class="emerald">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1>Tải phần mềm</h1>
                <p>Ấn vào đây để chạy cài đặt</p>
                @Html.ActionLink("Cài đặt", "ClickonceDownload", "Home")
            </div>
            <div class="col-sm-6">
                <ul class="breadcrumb pull-right">
                    <li>@Html.ActionLink("Trang Chủ", "Index", "Home")</li>
                    <li class="active">Tải phần mềm</li>
                </ul>
            </div>
        </div>
    </div>
</section>

