@{
    ViewBag.Title = "Khuyến nghị";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="title" class="emerald">
    <div class="container">
    <h2>Cổ phiếu khuyến nghị</h2>
    <p>Cổ phiếu khuyến nghị</p>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Cổ phiếu</th>
            <th>Giá hiện thời</th>
            <th>% thay đổi</th>
            <th>Khuyến nghị</th>
            <th>Giá thời điểm khuyến nghị</th>
             <th>Ngày</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>SSI</td>
            <td>22</td>
            <td>15%</td>
            <td>MUA</td>
            <td>20</td>
            <td>05-Jul-2016</td>
          </tr>
        </tbody>
      </table>
</div>
</section>


