
@{
    ViewBag.Title = "Sanpham";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section id="title" class="emerald">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1>Sản phẩm và dịch vụ</h1>
                <p>Quantum cung cấp các mô hình đầu tư được xây dựng sẵn bởi các chuyên gia cao cấp (PhD, CFA, CMT)</p>
                <p>Linh hoạt với các thay đổi mới của thị trường </p>
                <p>Giảm thiểu rủi ro do các quyết định tâm lý </p>
                <p>Mang lại lợi nhuận cao trong ngắn hạn, trung hạn và dài hạn</p>
            </div>
            <div class="col-sm-6">
                <ul class="breadcrumb pull-right">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">Sản phẩm và dịch vụ</li>
                </ul>
            </div>
        </div>
    </div>
</section>

